.profile {
	border-radius: 2px;
	box-shadow: 2px 2px 5px grey;
	border: 1px solid lightgrey;
	width: 300px;
	margin: 20px auto;
	overflow: hidden;
}

.description {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.avatar {
	width: 150px;
	border-radius: 50%;
	border: 1px solid lightgrey;
}

.name {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.tag {
	font-size: 16px;
	line-height: 20px;
	color: grey;
}

.location {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: grey;
}

.stats {
	background-color: lightcyan;
	margin: 0;
	padding: 0;
	display: flex;
	align-content: center;
}

.stats > li {
	list-style: none;
	flex-basis: calc(100% / 3);
	padding: 20px 10px;
	text-align: center;
	border: 1px solid lightgrey;
}

.label {
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: grey;
	margin-bottom: 10px;
}

.quantity {
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}
